section {
    margin-bottom: 2rem;
}

i {
    width: 2.2rem;
    height: 2.2rem;
    display: inline-block;
}

i * {
    width: 100%;
    height: auto;
}

.banner_img {
    background-image: url('../../assets/svg_art/sunrise.svg');
}

.banner_txt_dark {
    background-color: var(--calienteAlpha);
}

.portrait {
    width: clamp(6rem, 20vw, 15rem);
    border-radius: 50%;
    border: .2rem solid var(--orangeRed);
}

.technologies p {
    margin: 0px;
}

.tech_icons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.tech_icons > div {
    background-color: var(--orangeRed);
    width: 7rem;
    padding-top: .5rem;
    border-radius: 10px;
}

.border_bottom {
    border-bottom: 2px solid var(--mustard);
}

.cat_banner {
    background-color: var(--orangeRed);
    border-radius: 5px;
    padding: .4rem;
}

.cat_description {
    padding: 1rem 0px;
}

li {
    list-style: none;
    text-align: left;
}

@media only screen and (min-width: 480px) {
    i {
        width: 4.6rem;
        height: 4.6rem;
    }
}