@font-face {
    font-family: 'DooM_Regular';
    src: url('fonts/DooM_Regular.ttf') format('truetype'),
         url('fonts/DooM_Regular.woff') format('woff'),
         url('fonts/DooM_Regular.woff2') format('woff2');
}

html, body, .page_content {
    margin: 0;
    min-height: 100%;
}

body {    
    position: relative;
    background: 120px/120px repeat url('images/doom_textures/floor_texture.png');
}

body.dark {
    background: 120px/120px repeat url('images/doom_textures/dark_floor_texture.png');
}

a {
    text-decoration: none;
    font-size: 1rem;
}

p {
    margin-top: 0;
    font-size: 1.25rem;
    line-height: 1.75;
}

.flex {
    display: flex;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    position: absolute;
    z-index: 3;
}

.page_content {
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
}

.status_bar {
    display: grid;
    grid-template-columns: 3.5fr 1fr 3.5fr;
    transform: translateX(0px);
    will-change: transform;
}

.status_bar.open {
    transform: translateX(-100%);
    transition: transform 1.5s ease-in-out;
}

.door, .left_status_bar, .right_status_bar, .portrait {
    background: center no-repeat;
    background-size: 100% 100%;
}

.door {
    background-image: url('images/doom_textures/doom_door.png');
    transform: translateY(0px);
    will-change: transform;
}

.door.open {
    transform: translateY(-100%);
    transition: transform 1.5s ease-in-out;
}

.left_status_bar {
    background-image: url('images/doom_textures/left_status_bar.png');
}

.right_status_bar {
    background-image: url('images/doom_textures/right_status_bar.png');
}

.door, .left_status_bar, .right_status_bar, .portrait, .index_categories img {
    image-rendering: pixelated;
}

.portrait {
    background-color: black;
    background-image: url('images/doom_gifs/travis_sprite.gif');
}

.door_bell {
    background-color: rgb(192, 28, 28);
    color: white;
    width: 240px;
    height: 100px;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 120px);
}

.light_switch {
    width: max-content;
    margin: 16px;
}

.lamp {
    display: none;
}

.light_switch img {
    width: clamp(40px, 5vw, 160px);
}

.light_switch img {
    content: url('images/doom_textures/switch_on.png');
}

.light_switch img.dark {
    content: url('images/doom_textures/switch_off.png');
}

.header {
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.page_title {
    font-size: 2.6rem;
    background-image: linear-gradient(#004c70, #d98c00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 1px white;
    text-align: center;
}

.page_title, .door_bell {
    font-family: 'DooM_Regular', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.page_title.sub {
    font-size: 2.2rem;
}

.header, .nav_bar {
    padding: 10px 0px;
    display: flex;
    align-items: center;
}

.nav_bar {
    align-items: flex-start;
    gap: 8px;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 6px 5px rgb(25, 25, 25);
    background-color: rgba(112, 95, 44, 1);
}

.nav_bar.dark {
    background-color: rgba(43, 51, 84, 1);
}

.nav_bar *, .about_text p {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.icon {
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    aspect-ratio: 1 / 1;
}

.burger {
    margin-left: 1rem;
}

.nav_links {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50px;
    background-color: inherit;
    z-index: 2;
    border-bottom: 2px solid black;
}

.nav_links.collapsed {
    display: none;
}

.nav_links * {
    margin: 1.5rem 1rem;
}

.nav_links div a {
    margin: 0;
}

li.index_menu {
    display: flex;
    flex-direction: column;
    gap: min(4vh, 60px);
    justify-content: center;
    align-items: center;
}

ul.category {
    height: max-content;
    display: flex;
    gap: 10px;
}

.category img {
    width: clamp(240px, 58vw, 1200px);
}

.category img.skull_box {
    width: 3.2vw;
    opacity: 0;
}

.projects_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, min(650px, 45vw)));
    justify-content: center;
    gap: 4.5vh;
    padding-bottom: 100px;
}

.project_card {
    aspect-ratio: 1 / 1;
    transform: scale(1);
    transition: transform 0.25s;
    display: grid;
    grid-template-rows: 1.5fr 9fr 1fr;
    background-color: rgba(112, 95, 44, 1);
    box-shadow: 0px 6px 5px rgb(25, 25, 25);
    border-radius: 6px;
    border: solid 3px #502d2d;
}

.project_card.dark {
    background-color: #2b3354;
    border-color: rgb(229, 32, 32);
}

.project_card h3 {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.project_card .photo {
    background: no-repeat top center;
    background-size: cover;
}

.project_card .photo.game {
    background: no-repeat top left;
    background-size: cover;
}

.project_card .links {
    padding: 4px;
    display: flex;
}

.github {
    background-image: url(images/svg_icons/github-mark.svg);
}

.linked-in {
    background-image: url(images/svg_icons/icons8-linkedin.svg);
}

.clickable {
    cursor: pointer;
}

.small-icon {
    margin: 0;
    width: 1.5rem;
}

.medium-icon {
    margin: .2rem;
    width: 2rem;
}

.about_content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

img.about-photo {
    width: 140px;
    height: 140px;
    margin-bottom: 28px;
    border-radius: 50%;
    background-image: url(images/personal_photos/me_and_kitty.jpg);
    background-size: contain;
    background-repeat: no-repeat;    
}

@media (hover: hover) and (pointer: fine) {
    li.index_menu a:hover + img.skull_box {
        opacity: 1;
    }

    ul.category img:last-child {
        order: -1;
    }

    .project_card:hover {
        transform: scale(1.03);
    }

    button.icon:hover {
        filter: brightness(0.5) sepia(1) hue-rotate(90deg) saturate(5);
    }
}

@media only screen and (min-width: 720px) {
    .html {
        font-size: 20px;
    }

    .header {
        justify-content: space-between;
    }

    .header, .nav_bar {
        padding: 10px;
    }

    img.lamp {
        display: inline-block;
        height: 15vh;
        aspect-ratio: 1 / 2;
    }

    .burger {
        display: none;
    }
    
    .nav_bar, .nav_bar.dark, .nav_links.collapsed {
        position: inherit;
        top: 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        border: none;
    }

    .nav_links * {
        margin: .25rem .5rem;
    }
}

@media only screen and (min-width: 960px) {
    html {
        font-size: 22px;
    }
}