@font-face {
    font-family: 'DooM_Regular';
    src: url('fonts/DooM_Regular.ttf') format('truetype'),
         url('fonts/DooM_Regular.woff') format('woff'),
         url('fonts/DooM_Regular.woff2') format('woff2');
}

html, body, .page_content {
    margin: 0;
    min-height: 100%;
}

body {    
    position: relative;
    background: 120px/120px repeat url('images/doom_textures/floor_texture.png');
}

body.dark {
    background: 120px/120px repeat url('images/doom_textures/dark_floor_texture.png');
}

a {
    text-decoration: none;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    position: absolute;
    z-index: 2;
}

.page_content {
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
}

.status_bar {
    display: grid;
    grid-template-columns: 3.5fr 1fr 3.5fr;
    transform: translateX(0px);
    will-change: transform;
}

.status_bar.open {
    transform: translateX(-100%);
    transition: transform 1.5s ease-in-out;
}

.door, .left_status_bar, .right_status_bar, .portrait {
    background: center no-repeat;
    background-size: 100% 100%;
}

.door {
    background-image: url('images/doom_textures/doom_door.png');
    transform: translateY(0px);
    will-change: transform;
}

.door.open {
    transform: translateY(-100%);
    transition: transform 1.5s ease-in-out;
}

.left_status_bar {
    background-image: url('images/doom_textures/left_status_bar.png');
}

.right_status_bar {
    background-image: url('images/doom_textures/right_status_bar.png');
}

.door, .left_status_bar, .right_status_bar, .portrait, .index_categories img {
    image-rendering: pixelated;
}

.portrait {
    background-color: black;
    background-image: url('images/doom_gifs/travis_sprite.gif');
}

button.door_bell {
    background-color: rgb(192, 28, 28);
    color: white;
    font-size: 24px;
    width: 240px;
    height: 100px;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 120px);
}

.light_switch {
    width: max-content;
    margin: 16px;
}

img.lamp {
    width: 80px;
    height: 120px;
}

.light_switch img {
    width: clamp(40px, 5vw, 160px);
    height: auto;
}

.light_switch img {
    content: url('images/doom_textures/switch_on.png');
}

.light_switch img.dark {
    content: url('images/doom_textures/switch_off.png');
}

.header {
    justify-content: space-between;
    height: max-content;
    background-color: rgba(0, 0, 0, 0.6);
}

.page_title {
    font-size: 6vh;
    font-family: 'DooM_Regular';
    background-image: linear-gradient(#004c70, #d98c00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 2px white;
    text-align: center;
}

.page_title.sub {
    font-size: 5vh;
}

.header, .nav_bar {
    padding: 10px;
    display: flex;
    align-items: center;
}

.nav_bar {
    align-items: flex-start;
    gap: 8px;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 6px 5px rgb(25, 25, 25);
    background-color: rgba(112, 95, 44, 1);
}

.nav_bar.dark {
    background-color: rgba(43, 51, 84, 1);
}

.nav_bar * {
    font-size: 24px;
    color: white;
}

.burger {
    margin-left: 1rem;
}

.nav_links {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50px;
    background-color: inherit;
}

.nav_links * {
    margin: 1rem 0px 2rem 1rem;
}

.nav_links.collapsed {
    display: none;
}

.page_middle {
    padding: clamp(30px, 5vh, 60px);
}

li.index_menu {
    display: flex;
    flex-direction: column;
    gap: 42px;
    justify-content: center;
    align-items: center;
}

ul.category {
    height: max-content;
    display: flex;
    gap: 10px;
}

.category img {
    width: clamp(270px, 58vw, 1200px);
}

.category img.skull_box {
    width: 3.2vw;
    opacity: 0;
}

.projects_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, min(650px, 45vw)));
    justify-content: center;
    gap: 80px;
}

.project_card {
    aspect-ratio: 1 / 1;
    transform: scale(1);
    transition: transform 0.25s;
    display: grid;
    grid-template-rows: 1.5fr 9fr 1fr;
    background-color: rgba(112, 95, 44, 1);
    box-shadow: 0px 6px 5px rgb(25, 25, 25);
    border-radius: 6px;
    border: solid 3px #502d2d;
}

.project_card.dark {
    background-color: #2b3354;
    border-color: rgb(229, 32, 32);
}

.project_card h3 {
    text-align: center;
    font-size: 32px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.project_card .photo {
    background: no-repeat top center;
    background-size: cover;
}

.project_card .photo.game {
    background: no-repeat top left;
    background-size: cover;
}

@media (hover: hover) and (pointer: fine) {
    li.index_menu a:hover + img.skull_box {
        opacity: 1;
    }

    ul.category img:last-child {
        order: -1;
    }

    .project_card:hover {
        transform: scale(1.03);
    }
}

@media only screen and (min-width: 800px) {
    .burger {
        display: none;
    }
    
    .nav_bar, .nav_bar.dark, .nav_links.collapsed {
        position: inherit;
        top: 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1.5rem;
    }

    .nav_links * {
        margin: 0px 0px 0px 10px;
    }
}