@font-face {
    font-family: 'DooM_Regular';
    src: url('fonts/DooM_Regular.ttf') format('truetype'),
         url('fonts/DooM_Regular.woff') format('woff'),
         url('fonts/DooM_Regular.woff2') format('woff2');
}

html, body, .page_content {
    margin: 0;
    height: 100%;
}

body {    
    position: relative;
}

body.light {
    background: 120px/120px repeat url('images/floor_texture.png');
}

body.dark {
    background: 120px/120px repeat url('images/dark_floor_texture.png');
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    position: absolute;
    z-index: 2;
}

.page_content {
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
}

.status_bar {
    display: grid;
    grid-template-columns: 3.5fr 1fr 3.5fr;
    transform: translateX(0px);
    will-change: transform;
}

.status_bar.open {
    transform: translateX(-100%);
    transition: transform 1.5s ease-in-out;
}

.door, .left_status_bar, .right_status_bar, .portrait {
    background: center no-repeat;
    background-size: 100% 100%;
}

.door {
    background-image: url('images/doom_door.png');
    transform: translateY(0px);
    will-change: transform;
}

.door.open {
    transform: translateY(-100%);
    transition: transform 1.5s ease-in-out;
}

.left_status_bar {
    background-image: url('images/left_status_bar.png');
}

.right_status_bar {
    background-image: url('images/right_status_bar.png');
}

.door, .left_status_bar, .right_status_bar, .portrait, .index_categories img {
    image-rendering: pixelated;
}

.portrait {
    background-color: black;
    background-image: url('images/travis_sprite.gif');
}

button.door_bell {
    background-color: rgb(192, 28, 28);
    color: white;
    font-size: 24px;
    width: 240px;
    height: 100px;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 120px);
}

.light_switch {
    width: max-content;
    margin: 16px;
}

img.lamp {
    width: 80px;
    height: 120px;
}

.light_switch img {
    width: clamp(40px, 5vw, 160px);
    height: auto;
}

.light_switch img.light {
    content: url('images/switch_on.png');
}

.light_switch img.dark {
    content: url('images/switch_off.png');
}

.header {
    justify-content: space-between;
    height: max-content;
    background-color: rgba(0, 0, 0, 0.6);
}

h1.page_title {
    font-size: 6vh;
    font-family: 'DooM_Regular';
    background-image: linear-gradient(#004c70, #d98c00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 2px white;
}

.nav_bar {
    justify-content: right;
    gap: 8px;
    background-color: rgba(0, 0, 0, 0.4);
}

.header, .nav_bar {
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0px 6px 5px rgb(25, 25, 25);
}

.nav_bar * {
    font-size: 24px;
    color: white;
}

.page_middle {
    padding-top: clamp(30px, 5vh, 60px);
}

li.index_menu {
    display: flex;
    flex-direction: column;
    gap: 42px;
    justify-content: center;
    align-items: center;
}

li.index_menu ul.category:hover img.skull_box {
    display: inline;
}

.category {
    height: max-content;
}

.category img {
    width: clamp(270px, 58vw, 1200px);
}

.category img.skull_box {
    width: 3.2vw;
    margin-right: 10px;
    display: none;
}

