.card {
    background: linear-gradient(315deg, var(--mustard), var(--light));
    padding: 1rem;
    border-radius: .6rem;
}

.card > h2 {
    margin: 0px 0px 1rem 0px;
    font-size: 1.8rem;
    border-bottom: 2px solid var(--dark);
}

.card > h2, .card > p {
    color: var(--dark);
    text-align: center;
}

.card img {
    width: 100%;
    border: 2px solid var(--dark);
}

.links {
    display: flex;
    align-items: center;
    gap: .4rem;
    justify-content: flex-end;
}

.github_link {
    width: 3.5rem;
    height: auto;
    fill: var(--caliente);
}

.github_link:hover {
    cursor: pointer;
    filter: brightness(130%);
}

.demo_link {
    background-color: var(--caliente);
    font-weight: 500;
    font-size: small;
    color: var(--light);
}