@import url('https://fonts.googleapis.com/css2?family=Asimovian&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
  --dark: hsl(277, 85%, 11%);
  --maroon: hsl(323, 83%, 16%);
  --caliente: hsl(340, 82%, 26%);
  --calienteAlpha: hsla(340, 82%, 26%, 0.9);
  --orangeRed: hsl(353, 77%, 45%);
  --mustard: hsl(26, 99%, 60%);
  --light: hsl(41, 97%, 85%);
}

html {
  font-size: 10px;
  color: var(--light);
  font-family: 'Questrial', sans-serif;
  line-height: 1.5;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--dark);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Asimovian', serif;
  letter-spacing: 4px;
  margin: 1rem 0px;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.8rem;
}

li, p {
  font-size: 1.4rem;
}

ul {
  padding: 0px;
}

button {
  font-family: 'Questrial', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
}

.large_text {
  font-size: 1.8rem;
}

.xl_text {
  font-size: 2rem;
}

.xxl_text {
  font-size: 2.2rem;
}

.xxxl_text {
  font-size: 2.4rem;
}

.flex {
  display: flex;
  flex-direction: column;
}

.justify_center {
  justify-content: center;
}

.align_center {
  align-items: center;
}

.sm_gap {
  gap: 1rem;
}

.md_gap {
  gap: 2rem;
}

.banner {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: min(500px, 50vw);
  position: relative;
}

.banner_txt {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0px;
  padding: 1rem 0px;
  width: 100%;
}

@media only screen and (min-width: 480px) {
  html {
    font-size: 12px;
  }

  .flex {
    flex-direction: row;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}