@import url('https://fonts.googleapis.com/css2?family=Asimovian&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
  --dark: hsl(277, 85%, 11%);
  --maroon: #4b0731;
  --caliente: #790c30;
  --calienteAlpha: hsla(340, 82%, 26%, 0.9);
  --orangeRed: hsl(353, 77%, 45%);
  --mustard: hsl(26, 99%, 60%);
  --light: #fee6b4;
}

html {
  font-size: 16px;
  color: var(--light);
  font-family: 'Questrial', sans-serif;
  line-height: 1.5;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--dark);
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Asimovian', serif;
  letter-spacing: 4px;
  margin: 1rem 0px;
}

li, p {
  font-size: 1.1rem;
}

ul {
  padding: 0px;
}

button, .button_link {
  font-family: 'Questrial', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  border: none;
  border-radius: 5px;
  padding: .6rem 1rem;
  cursor: pointer;
}

button:hover, .button_link:hover {
  filter: brightness(130%);
}

a {
  text-decoration: none;
}

.large_text {
  font-size: 1.1rem;
}

.xl_text {
  font-size: 1.2rem;
}

.xxl_text {
  font-size: 1.3rem;
}

.xxxl_text {
  font-size: 1.4rem;
}

.flex {
  display: flex;
  flex-direction: column;
}

.justify_center {
  justify-content: center;
}

.align_center {
  align-items: center;
}

.banner {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: min(500px, 45vw);
  position: relative;
}

.banner_txt {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0px;
  padding: 1rem 0px;
  width: 100%;
}

.geometric {
    width: 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 7rem 0px;
}

.circle_pattern {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/svg_art/circles.svg');
}

.hex_pattern {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/svg_art/hexagons.svg');
}

.maroon_bg {
  background-color: var(--maroon);
}

.dark_bg {
  background-color: var(--dark);
}

.content_box {
  width: 100%;
  padding: 1rem;
}

.burger {
  position: fixed;
  display: block;
  top: 1rem;
  right: 1rem;
  z-index: 100;
  width: 1.1rem;
  height: 1.1rem;
  fill: white;
}

@media only screen and (min-width: 480px) {
  html {
    font-size: 17px;
  }

  .flex {
    flex-direction: row;
  }

  .content_box {
    width: max-content;
    border-radius: .5rem;
    margin: 0px 1rem;
    padding: 1rem max(2rem, 1vw);
  }

  .sm_gap {
    gap: 1rem;
  }

  .md_gap {
    gap: 2rem;
  }

  .burger {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }

  .banner_txt {
    font-size: 2.8rem;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 19px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}